# Dependencies
**/node_modules/
backend/target/
*.class

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Logs & Database
*.log
backend/logs/
data/*.db-journal
data/*.db-wal
data/*.db-shm

# Build output
frontend/dist/
